{{ define "templates/layouts/html/footer" }}
    <!-- Begin Footer
            ================================================== -->
    <div class="footer">
        <!-- 続きを作成 -->
    </div>
    <!-- End Footer
    ================================================== -->

    </div>
    <!-- /.container -->
{{ end }}