{{ define "templates/layouts/html/header" }}
    <!-- Begin Site Title
        ================================================== -->
    <div class="container">
    
        <!-- 続きを作成 -->

        <!-- End Site Title
        ================================================== -->
{{ end }}