{{ define "templates/layouts/html/navbar" }}
    <!-- Begin Nav
        ================================================== -->
    <nav class="navbar">
        <!-- 続きを作成 -->
    </nav>
    <!-- End Nav
    ================================================== -->
{{ end }}